/* Select the main container 'div' element */
.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: aqua;
    padding: 10px;
    background: #00C2BA;
    opacity: 2;
}
/* Select all h1 elements. */
h1 {
    border-style: solid;
    border-width: 2px;
    border-color: lavender;
    background: #CE96FB;
}
/* Select ALL paragraph elements. */
p {
    border-style: solid;
    border-width: 2px;
    border-color: teal;
    background: #037A90;
}
hr {
  margin: 30px 0;
}
center {
  image-orientation: center;
}
