/* Select the main container 'div' element */
.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: limegreen;
    padding: 10px;
    background: #373E42;
}
/* Select all h1 elements. */
h1 {
    border-style: solid;
    border-width: 2px;
    border-color: orange;
    background: #f1f1f1;
}
/* Select ALL paragraph elements. */
p {
    border-style: solid;
    border-width: 2px;
    border-color: gold;
    background: #f1f1f1;
}
hr {
  margin: 30px 0;
}
center {
  image-orientation: center;
}
