body {
  background-color: #ff6666;
}
h1 {
  font-family:'Caveat Brush', cursive;
  font-size: 95pt;
  font-weight: normal 400;
  font-style: ;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}
h2 {
  font-family:'Cormorant Garamond', serif;
  font-size: 24pt;
  font-weight: black 600;
  font-style: ;
  color: #ff6666;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family:'Barlow Condensed', sans-serif;
  font-size: 48pt;
  font-weight: bold 600;
  font-style: ;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  font-family:'Cormorant Garamond', serif;
  font-size: 18pt;
  font-weight: bold 600;
  font-style: ;
  color: #000000;
  text-align: center;
}
p {
  text-align: center;
}
.main-content {
  align-items: center;
  font-family:'Barlow Condensed', sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: ;
  color: #000000;
  text-align: center;
  line-height: 2;
  padding: 10pt;
  background-color: #ffe680;
}
.secondary-heading {
  background-color: #ffffff;
  padding: 10pt;
}
p::first-line {
    font-family:'Barlow Condensed', sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #ff6666;
}
a:hover {
  color: #ffffff;
}
.size {
  width: 75%;
}
.middle {
  margin: auto;
}
