/* Set your header design: */
menu {
    position: fixed;
    top: 0px;
    background-color: #C9A091;
    font-size: 30pt;
    font-family: Amatic SC;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    height: auto;
    width: 100%;
    text-align: right;
}

/* Set the layout of the menu: */
.menu-item, .site-name {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: ;
    padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
    color: rosybrown;
    text-decoration: underline solid 2px #875855;
}

.menu-item:hover {
    color: #B73B0D;
    background-color: ;
    font-weight: bold;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: rosybrown;
    background-color: white;
    z-index: 1;
}
.dropdown-content a {
    color: rosybrown;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #401809;
    font-weight: bold;
    background-color: #875855;
}
/* Style the page: */
body {
  font-family: Quicksand;
  font-size: 16pt;
  color: #B73B0D;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}
/* Style the Headings */
h1 {
  font-family: Grand Hotel;
  font-size: 60pt;
  color: #d96459;
  align: center;
}
h2 {
  font-family: Amatic SC;
  font-size: 48pt;
  font-weight: bold;
  color: #d96459;
  align: center;
}
h3  {
  font-family: Calistoga;
  font-size: 32pt;
  color: #faffc6;
  align: center;
}
h4 {
  font-family: Quicksand;
  font-size: 40pt;
  text-transform: uppercase;
}
/* Style the Main Content: */
.title {
  font-family: Grand Hotel;
  color: #d96459;
  font-size: 48pt;
}
.subtitle {
  font-family: Calistoga;
  color: #e06377;;
  font-size: 32pt;
}
.site-name {
    float: center;
    padding: 1em;
    align: center;
}
.site-slogan {
  align: center;
}
.site-logo {
  height: 3em;
  float: left;
}
.parent-container {
  width: 100%;
  background-color: lightcoral
}
.main-container {
    width: 75%;
    align-items: center;
    margin-top: 10em;
    padding: 2em;
    line-height: 1.4em;
    background-color: white;
}
@font-face {
font-family: 'Roboto Condensed', sans-serif;
src: url('../fonts/GrandHotel-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Dancing Script', cursive;
src: url('../fonts/AmaticSC-Bold.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Lilita One', cursive;
src: url('../fonts/Calistoga-Regular.ttf');
font-weight: normal;
font-style: normal;
}
