/* SITE-WIDE ELEMENTS: */
  body {
    font-family: 'Lato', sans-serif;
    background-color: gray;
    text-align: center;
  }
  h1 {
    font-size: 50pt;
    font-family: 'bilbo', cursive;
    color: cadetblue;
  }
  h2 {
    font-size: 24pt;
    font-family:'OpenSansCondensed', sans-serif;
    color: ;
    text-transform: uppercase;
  }
  h3 {
    font-size: 20pt;
    font-family: 'lato', sans-serif;
    letter-spacing: 1px;
    color: darkseagreen;
  }
  h4 {
    font-size: 40pt;
    font-family:'OpenSansCondensed', sans-serif;
    color: ;
    text-transform: uppercase;
  }
  /* Site information: */
    .site-heading {
      text-align: center;
      border: 5px double White;
    }
      .site-logo {
        align-items: center;
        border: 5px solid Peru
      }
      #site-title {
        margin: ;
        padding: ;
        text-align: center;
      }
      #site-slogan {
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 1px;
        color: darkseagreen;
        margin: ;
        padding: ;
        text-align: center;
      }

/* LAYOUT AREAS: */
  main-container{
    width: 75%;
    margin: 1em;
    padding: 1em;
    line-height: 1.4em;
    background-color: White;
  }
  main-container .main-content {
    width: 75%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    padding: 10pt;
    color:gray;
    text-align: center;
  }
  .subtitle {
    text-align:left;
    border: 5px dotted White;
  }
/* Submit Buttons */
  .button:active {
    color: white;
    background-color: cadetblue;
    border-color: darkseagreen;
    border-width: 5px;
    border-style: double solid;
  }
  .button:hover {
    color: white;
    background-color: Peru;
    border-color: cadetblue;
    border-width: 5px;
    border-style: double solid;
  }
  sub-container{
    margin-top: 5em;
    padding: 1em;
    line-height: 1.4em;
    background-color: gray;
    color: white;
  }
/* IMAGES */
  img {
    border: 5 px solid Peru;
  }
  .img-left {
    float: left;
  }
  .img-center {
    float: center;
  }
  .img-right {
    float: right;
  }
  .text-left {
    align: left;
  }
  .text-center {
    align: center;
  }
  .text-right {
    align: right;
  }
